.login-container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 500px;
    flex-direction: column;
}

.login-title {
    padding: 10px;
}

.log-text{
    display: flex;
    font-size: 26px;
    margin: 0px;
}

.demo-button {
    background: none;
    border: none;
    padding: 15px;
    text-decoration: underline;
    color: #00525E;
    cursor: pointer;
}

.demo-center {
    display: flex;
    justify-content: center;
}

.email,
.password {
    padding: 10px;
    padding-bottom: 30px;
    display: flex;
}

.login-submit-button {
     border-radius: 20px;
     background-color: #054A29;
     color: white;
     display: block;
     font-size: 30px;
     border: none;
     width: 300px;
}

.login-text {
    font-size: 16px;
}

.sub-text {
    padding: 10px 10px 10px 0px;
    margin: 0px;
}

.form-container {
    padding-bottom: 20px;

}

input.input-text{
    width: 280px;
    justify-content: center;
}

.log-button-container {
    padding-top: 40px;
    align-items: center;
}
