.explore-container {
    display: flex;
    margin: 10px;
    padding: 20px;
    padding-left: 5%;
}

.location-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(50px, 1fr));
    gap: 10px;
}

.t-detail {
    font-size: 30px;
    margin: 0px;
    padding: 0px;
}

.location-explore-tile {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    align-items: center;
}

.location-explore-tile:hover {
    background-color: lightgrey;
}

.image {
    object-fit: cover;
    max-width: 100%;
    height: 60%;
    border-radius: 8px;
}

.location-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
}

.scrolling-section {
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
}

.explore-list-button {
    position: relative;
    color: darkgreen;
    border: none;
    background-color: transparent;
    font-size: 25px;
    top: 35px;
}
