/** the whole page **/
.location-detail-container {
    margin: 20px 20px 20px 150px;
    padding-left: 100px;
    padding-right: 100px;
    min-width: 500px;
}


/** the cover **/
.location-border-card {
    padding: 0px;
    border-radius: 40px;
    background-color: white;
    width: 90%;
    box-shadow: 2px 2px 15px 2px grey;
}

.location-image-id {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 40px 40px 0px 0px;
    z-index: -1;
    object-position: center;
}

.cover-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    align-items: flex-start;
    text-align: center;
    background-size: cover;
    background-position: center center;
    height: 45vh;
    padding: 0px;
    margin: 0px;
    color: black;
    position: relative;
}
.cover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

.location-name-title {
    font-size: 35px;
    margin: 10px 0px;
    color: white;
    position: relative;
    z-index: 1;
    padding-left: 20px;
}

.city-state {
    font-size: 18px;
    color: white;
    position: relative;
    padding-left: 20px;
    margin: 0px;
    text-decoration: underline;
    cursor: pointer;
}

/** the button bar links **/

.bar-links {
    background-color: green;
}

.bar-button {
    position: relative;
    bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
}

.location-details-bar {
    display: flex;
    /* padding: 20px; */
    gap: 10px;
    justify-content: space-between;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 30px;
}

.lower-location-details-bar {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-top: 10px;
}

.location-details-bar-buttons {
    display: flex;
    /* padding: 20px; */
    gap: 10px;
    justify-content: space-around;
    padding-left: 20px;
    /* padding-bottom: 10px; */
    padding-right: 20px;
    /* padding-top: 10px; */
}

.button-title{
    color: white;
    position: relative;
    bottom: 10px;
}

.detail-bar {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.detail-bar-button {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

/** reviews **/
.label {
    margin-right: 10px;
    font-weight: normal;
    color: #656e5e;
}

.bold-text {
    font-weight: bold;
}

.desc-box,
.rev-box {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 15px;
}

.s-review-box {
    padding: 15px;
}

.each-review {
    border-top: 1px solid lightgray;
    padding: 16px;
}

.top-review-info {
    display: flex;
}

.user-firstname{
    margin: 0px;
    padding-bottom: 2px;
}

.date {
    margin: 0px;
    color: #656e5e;
}

.username-date{
    padding-left: 15px;
}

.star-rating {
    padding-top: 12px;
}

.delete-button,
.edit-button {
    background-color: none;
    border: none;
    text-decoration: underline;
    background: none;
    cursor: pointer;
    font-size: 14px;
}

.delete-button:hover {
    color:red;
}

.edit-button:hover {
    color: blue;
}

.write-button {
    border-radius: 20% / 80%;
    background-color: darkgreen;
    color: white;
    display: block;
    font-size: 16px;
    width: 200px;
    height: 50px;
    border: none;
}

/* .write-review-button-placement {
    margin-left: auto;
    padding: 10px;
} */

.total-location-rating-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
}

.total-reviews {
    margin: 0px;
}

.rating-count {
    font-weight: bold;
    font-size: 40px;
}

.location-rating-main {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0px;
    color: white;
    padding-left: 10px;
    font-size: 18px;
}

.location-direction {
    display: flex;
}

.fa-star:before {
    font-size: 18px;
}

.info-box {
    padding-left: 20px;
    margin: 40px 0px;
    padding-top: 10px;
}

/** tab info **/

.tab-text {
    font-size: 16px;
}

.block-tabs {
    display: flex;
    border-bottom: 1px solid lightgrey;
    padding-left: 20px;
    padding-top: 40px;
    justify-content: space-around;
}

.tabs {
    padding: 10px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
    width: 200px;
}

.tab:hover {
    background-color: #e0e0e0;
}

.active-tabs {
    background-color: #fff;
    border-bottom: 2px solid #054A29;
}

.content-tabs {
    padding: 50px;
    border-radius: 0 0 5px 5px;
}

.content {
    display: none;
}

.content.active-content {
    display: block;
}


/* total stars rating */
.star-rating-bar-graph {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
  }

  .star-bar {
    display: flex;
    flex-direction: column-reverse;
  }

  .star-bar-item {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  .star-label {
    font-size: 14px;
    margin-bottom: 5px;

    flex-direction: row;
    display: flex;
  }

  .star-bar-fill {
    background-color: #2ced39;
    height: 10px;
    border-radius: 5px;
    width: 70%;
  }
