footer {
    background-color: #054A29;
    padding: 40px 100px;
    height: 200px;
    text-align: center;
  }

a.footer-home.nav-link.active {
  display: flex;
  padding: 0px;
  padding-bottom: 30px;
  font-size: 30px;
}

.fh {
  text-decoration: none;
}

.icon-cred {
  text-decoration: none;
  color: #efefec;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f-links {
  text-decoration: none;
  color: #efefec;
  padding-top: 20px;
  padding-bottom: 30px;
  font-weight: bold;
}

.f-links:hover {
  text-decoration: underline;
}

.credits {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  align-items: baseline;
}

.text,
.text-end {
  font-size: 18px;
  margin: 0px;
  color: #efefec;
}

.text-end,
div.credits.icon-cred {
  font-size: 14px;
}

.f-icons {
  display: flex;
  height: 20px;
  width: 20px;
  padding: 10px;
  color: #efefec;
}

.fa-instagram:before,
.fa-linkedin:before,
.fa-github:before  {
  padding: 10px;
  color: #efefec;
}

.footer-credits {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  border-top: 1px solid #efefec;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-between;
}
