.nav-container {
  display: flex;
  background: white;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.home {
  font-size: 20pt;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
}

.sub-link:hover {
  text-decoration: underline;
}


/* ProfileButton.js css below */

.profile-dropdown {
  position: absolute;
  border: 1px solid grey;
  background-color: white;
  color: black;
  list-style-type: none;
  border-radius: 10px;
  font-size: 16px;
  /* width: 100px; */
  /* align-items: flex-start */
  /* justify-content: center; */
}

ul.profile-dropdown {
  margin: 0px;
  padding: 0px;
}

.hidden {
  display: none;
}

.open-menu-button {
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #054A29;
}

.drop-link {
  padding: 10px;
}

.drop-link:hover {
  background-color: lightgray;
}

.user-drop {
  padding: 10px;
}

.manage-locations-link,
.new-locations-link,
.reviews-link {
  text-decoration: none;
  color: black;
}

.test {
  background-color: red;
}

.log-out-button {
  color:red;
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}

/*
.icon-mount {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 20px;
}
*/
