.nav-container {
  display: flex;
  background: white;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

a.home.nav-link.active {
  padding: 40px;
}
.home {
  font-size: 28pt;

}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 10px 15px;

}

.sub-link:hover {
  text-decoration: underline;
}


/* ProfileButton.js css below */

.profile-dropdown {
  position: absolute;
  border: 1px solid grey;
  background-color: white;
  color: black;
  list-style-type: none;
  border-radius: 10px;
  font-size: 16px;
  /* width: 100px; */
  /* align-items: flex-start */
  /* justify-content: center; */
}

ul.profile-dropdown {
  margin: 0px;
  padding: 0px;
  right: 20px;
  top: 60px;
}

.hidden {
  display: none;
}

.open-menu-button {
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #054A29;
}

.drop-link {
  padding: 10px;
}

.drop-link:hover {
  background-color: #5BBA6F;
}

.user-drop {
  padding: 10px;
}

.manage-locations-link,
.new-locations-link,
.reviews-link {
  text-decoration: none;
  color: black;
}

.test {
  background-color: red;
}

.log-out-button {
  color:red;
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer; 
}

.right-nav-side {
  display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

div.c.right-nav-side {
  padding-right: 20px;
}

.b {
  display: flex;
  justify-content: flex-start;
}
/*
.icon-mount {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 20px;
}
*/

.login-button-container{
  width: 100px;
}

.log-in-button,
.sign-up-button {
  display: flex;
  width: 100px;
  flex-direction: column;
  border: none;
  padding: 20px 20px 20px 20px;
  background: none;
  cursor: pointer;

}

.log-in-button:hover,
.sign-up-button:hover {
  background-color: #5BBA6F;
  border-radius: 10px;
}
