.new-create-activity-container {
    display: flex;
    width: 400px;
    height: 300px;
    flex-direction: column;
    justify-content: center;
}

.listname-text {
    font-size: 18px;
}

.listname-input {
    width: 300px;
}

.list-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.list-name-container {
    padding: 5px 30px;
    margin: 14px 0px;
}

.list-title {
    display: flex;
    font-size: 40px;
    justify-content: center;
    margin: 20px 0 0 0;
    font-weight: 400;
}

.each-list {
    display: flex;
    border-top: 1px solid lightgray;
    padding: 16px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.button-activity-align {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
