.list-detail-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 20px 20px 150px;
    padding-left: 100px;
    padding-right: 100px;
    min-width: 500px;
    max-width: 1000px;
    flex-direction: column;
}

.list-border-card {
    padding: 0px;
    border-radius: 40px;
    background-color: white;
    width: 90%;
    box-shadow: 2px 2px 15px 2px grey;
}

.list-cover {
    /* display: flex;
    height: 200px;
    align-items: flex-end;
    border-bottom: 1px solid lightgray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* align-items: flex-start; */
    text-align: center;
    background-size: cover;
    background-position: center center;
    height: 28vh;
    padding: 0px;
    margin: 0px;
    color: black;
    position: relative;
    background-color: #e6e6de;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.list-body{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 40px;
}

.left-side {
    width: 60%;
    border-right: 1px solid lightgray;
}

.list-description {
    /* padding: 0px; */
    padding-bottom: 40px;
    margin: 0px;
}

.right-side {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map-container {
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.list-bar-links {
    background-color: green;
}

.location-details-bar {
    display: flex;
    /* padding: 20px; */
    gap: 10px;
    justify-content: space-around;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 30px;
}
