.create-activity-container {
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 200px;
}

.act-title {
    display: flex;
    font-size: 40px;
    justify-content: center;
    margin: 20px 0;
}

.select-list {
    width: 300px;
    height: 40px;
    background-color: #EAEAEA;
}

.activity-submit-button {
    display: flex;
    border-radius: 10% / 50%;
    justify-content: center;
    background-color: #137547;
    color: white;
    font-size: 30px;
    border: none;
    width: 300px;
}

.button-activity-align {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
